/* Include Foundation */

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
}

.movielist {
    @include grid-row();
    width: 20%;

    input {
        @include grid-column(12);
        text-align: center;
        padding: 5px;
        margin: 3px;
    }

    button {
        @include button;
        display: block;
        margin: 0 auto;
    }
}

ul {
    @include grid-row();
    list-style-type: none;

    li {
        @include grid-column(4);
        p {
            font-size: .8em;
        }
        .title {
            font-size: 1.5em;
        }
    }

    button {
        width: 5%;
    }
}