/* Include Foundation */

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: #638696;
    color: white;
    font-family: Quicksand;
    margin-top: 80px;

    .hidden {
        display: none;
    }
}

h1 {
    font-size: 3em;
    text-align: center;
}

.movielist {
    @include grid-row();
    margin-top: 70px;
    width: 20%;

    input {
        @include grid-column(12);
        text-align: center;
        padding: 5px;
        margin: 3px;
    }

    button {
        @include button;
        display: block;
        margin: 0 auto;
    }
}

ul {
    @include grid-row();
    list-style-type: none;
    padding: 0px;

    li {
        @include grid-column(4);
        @include grid-row();
        border: 1px dotted wheat;
        background-color: #af8887;
        margin-top: 30px;
        height: 265px;
        p {
            text-align: center;
            font-size: .9em;
        }
        .title {
            font-size: 1.5em;
        }

        button {
            @include button;
            @include grid-column(5.7);
            padding: 5px;
            border-radius: 8px;
            margin: 3px;
        }

        img {
            width: 12%;
            display: block;
            margin: 0 auto;
            padding: 5px;
        }
  
    }


}