<!doctype html>

<html>

<head>
    <title>Movie Catalog</title>
    <!-- add css file -->
    <link rel="stylesheet" href="style.css">
    <!-- add js file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>
    
<body ng-app="MovieApp">
    
    <h1>Movie Catalog</h1>
    <section ng-controller="MovieList">
        <div class="movielist">
            <input type="text" ng-model="movieTitle" placeholder="enter title">
            <input type="text" ng-model="movieDirector" placeholder="enter director">
            <input type="text" ng-model="movieRelease" placeholder="enter release date">
            <input type="text" ng-model="movieGenre" placeholder="enter genre">
            <button ng-click="newMovie()">add movie</button>
        </div>
        
        <ul ng-model="list">
            <li ng-repeat="currentMovie in movies">
                <p class="title">{{ currentMovie.title }}</p>
                <p>{{ currentMovie.director }}</p>
                <p>{{ currentMovie.release }}</p>
                <p>{{ currentMovie.genre }}</p>
                <button ng-hide="currentMovie.isFresh" ng-hide="currentMove.isRotten" ng-click="fresh(currentMovie)">fresh</button>
                <button ng-hide="currentMovie.isFresh" ng-hide="currentMove.isRotten" ng-click="rotten(currentMovie)">rotten</button>
                <img ng-show="currentMovie.isFresh" ng-src="http://www.billdamon.com/images/rottentomatoes/fresh.png">
                <img ng-show="currentMovie.isRotten" ng-src="http://videoeta.com/images/eta/rt/rotten.png">
            </li>
        </ul>
    </section>

</body>

</html>